#contactForm{
  margin-left: 30%;
  margin-right: 30%;
}
/*.row{*/
  /*padding: 50px;*/
  /*/!*background-color: lightgray;*!/*/
  /*margin-top: 100px;*/
  /*margin-bottom: 30px;*/
/*}*/
.login-outer{
  /*background-color: grey;*/
  margin: 10%;
}
