
<!-- cart Grid Section -->
<section id="dishId">
  <div class="dish container">
    <!--<div class="row">-->
    <!--<div class="col-lg-12 text-center">-->
    <!--<h2>Menu</h2>-->
    <!--<hr class="star-primary">-->
    <!--</div>-->
    <!--</div>-->

    <div class="row">
      <div class="dish-outer box">

        <div class="dish-image col-lg-6 col-sm-12 col-xs-12">
          <img class="img-responsive wow slideInUp" src="images/food_Bg1.jpg" alt="">

          <hr>

        </div>

        <div class="dish-description col-lg-6 col-sm-12 col-xs-12">

          <div class="col-lg-6 col-sm-12 col-xs-12">
            <div class="left box">
              <div class="rating">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
              </div>
              <div class="dish-name">
                <h3>
                  {{dishName.name}}
                </h3>
              </div>

            </div>


          </div>

          <div class="col-lg-6 col-sm-12 col-xs-12">
            <div class="right box">
              <div class="price"><span>{{dishName.price | currency}}</span></div>
              <div class="add-to-cart">
                <a class="btn btn-danger" ng-href="#/cart">+</a>
              </div>
            </div>

          </div>

          <hr>

          <div class="dish-details col-lg-12 col-sm-12 col-xs-12">
            <h3>Details</h3>
            <hr/>
            <div>
              <p>
                {{dishName.detail}}

              </p>
            </div>
            <!--<div id="tabs-container">-->
              <!--<ul class="tabs-menu">-->
                <!--<li class="current"><a href="#tab-1">Details</a></li>-->
                <!--<li><a href="tab-2">Prep</a></li>-->
                <!--<li><a href="tab-3">Ingredients</a></li>-->
                <!--<li><a href="tab-4">Nutrition</a></li>-->
              <!--</ul>-->
              <!--<div class="tab">-->
                <!--<div id="tab-1" class="tab-content">-->
                  <!--<p>Lorem ipsum dolor sit amet, consectetu velrdum ortor. Nullam pretium, est at congue mattis, nibh eros pharetra lectus, nec posuere libero dui consectetur arcu. Quisque convallis facilisis fermentum. Nam tincidunt, diam nec dictum mattis, nunc dolor ultrices ipsum, in mattis justo turpis nec ligula. Curabitur a ante mauris. Integer placerat imperdiet diam, facilisis pretium elit mollis pretium. Sed lobortis, eros non egestas suscipit, dui dui euismod enim, ac ultricies arcu risus at tellus. Donec imperdiet congue ligula, quis vulputate mauris ultrices non. A.</p>-->
                <!--</div>-->
                <!--<div id="tab-2" class="tab-content">-->
                  <!--<p>Donec semper dictum sem, quis pretium sem malesuada non. Proin venenatis orci vel nisl porta sollicitudin. Pellentesque sit amet massa et orci malesuada facilisis vel vel lectus. Etiam tristique volutpat auctor. Morbi nec massa eget sem ultricies fermentum id ut ligula. Praesent aliquet adipiscing dictum. Suspendisse dignissim dui tortor. Integer faucibus interdum justo, mattis commodo elit tempor id. Quisque ut orci orci, sit amet mattis nulla. Suspendisse quam diam, feugiat at ullamcorper eget, sagittis sed eros. Proin tortor tellus, pulvinar at impis viverra. </p>-->

                <!--</div>-->
                <!--<div id="tab-3" class="tab-content">-->
                  <!--<p>Duis egestas fermentum ipsum et commodo. Proin bibendum consectetur elit, hendrerit porta mi dictum eu. Vestibulum adipiscing euismod laoreet. Vivamus lobortis tortor a odio consectetur pulvinar. Proin blandit ornare eros dictum fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur laoreet, ante aliquet molestie laoreet, lectus odio fringilla purus, id porttitor erat velit vitae mi. Nullam posuere nunc ut justo sollicitudin interdum. Donec suscipit eros nec leo condimentum fermentum. Nunc quis libero porta. </p>-->
                <!--</div>-->
                <!--<div id="tab-4" class="tab-content">-->
                  <!--<p>Proin sollicitudin tincidunt quam, in egestas dui tincidunt non. Maecenas tempus condimentum mi, sed convallis tortor iaculis eu. Cras dui dui, tempor quis tempor vitae, ullamcorper in justo. Integer et lorem diam. Quisque consequat lectus eget urna molestie pharetra. Cras risus lectus, lobortis sit amet imperdiet sit amet, eleifend a erat. Suspendisse vel luctus lectus. Sed ac arcu nisi, sit amet ornare tellus. Pellentesque nec augue a nibh pharetra scelerisque quis sit amet felis. Nullam at enim at lacus pretium iaculis sit amet vel nunc. P cursus odio. </p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          </div>
        </div>



        <div class="clearfix"></div>
      </div> <!-- dish-outerbox -->
    </div> <!--row-->
  </div> <!--cart container-->


</section>

