<div class="section-header img-responsive">
  <div class="home-overlay">

  </div>

  <div class="header-outer">
    <h1>"Fresh Meals Delivered!"</h1>

    <p class="lead">
      <!--<img src="images/foodBg2.png" alt="I'm Yeoman"><br>-->
      Always a pleasure serving you delicious meals in less than 15 minutes!
    </p>

    <p><a class="btn btn-lg btn-success" ng-href="#/menu">See Menu</a></p>
  </div>

</div>


  <div class="meal-section">
    <h1>
      <p class="meal-brand">Meals You Want</p>
    </h1>

    <div class="meal-outer">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <img src="images/apronfavicon-96x96.png" alt=""/>
          <h4>New Menus Daily</h4>
          <p>Cooked dishes, meals to cook, fresh salads, kids’ meals, beverages, and treats of all sorts—we’ve got you covered.</p>
        </div>

        <div class="col-lg-3 col-sm-6">
          <img src="images/mobilefavicon-96x96.png" alt=""/>
          <h4>Ordering Just Got Easier</h4>
          <p>Use the website or app to order on-demand or schedule your delivery up to a week in advance. Meal planning is done!</p>
        </div>

        <div class="col-lg-3 col-sm-6">
          <img src="images/deliveryfavicon-96x96.png" alt=""/>
          <h4>Fast Delivery</h4>
          <p>Our delivery folks bring your order right to you, whether that’s at home, at the office, or wherever else you may want dinner.</p>
        </div>

        <div class="col-lg-3 col-sm-6">
          <img src="images/ovenfavicon-96x96.png" alt=""/>
          <h4>Serve in Minutes</h4>
          <p>Everything arrives chilled so it all stays fresh. Plus, you get to heat or cook it on your schedule.</p>
        </div>
      </div>

    </div>


  </div>

<!--<section class="meal-section">-->
  <!--<h1>Meals You Want</h1>-->
<!--</section>-->


<section class="chef-section img-responsive">
  <div class="chef-overlay">

  </div>

  <div class="chef-outer">

      <h1>Meet Our Chefs</h1>

      <p>Our chefs come from top restaurants.
        They bring mad skills, tons of passion,
        and expertise in a delicious array of cuisines.
        They insist, as we do, on using only the freshest
        ingredients to make our tasty, nourishing food </p>


    <p><a class="btn btn-lg btn-success" ng-href="#/menu">See Menu</a></p>
  </div>

</section>


<section class="meal-serve">
  <div class="row">
    <div class="box">
      <div class="col-md-6">
        <img class="img-responsive img-border-left" src="images/meals-kitchen.jpg" alt="">
      </div>
      <div class="col-md-6">
        <div class="meal-inner">
          <h1>Meals Served in Minutes</h1>
          <p class="meal-served">
            We chill all our food so it stays fresh. Simple directions explain the final step.
            For our ready-to-cook meals, it usually includes a frying pan and about 15 minutes,
            while our ready-to-eat dishes are usually ready after a few minutes in the microwave
            With us, dinner’s ready when you want to eat.
          </p>
          <p><a class="btn btn-lg btn-success" ng-href="#/menu">Order Now</a></p>
        </div>

      </div>

      <div class="clearfix"></div>
    </div>
  </div>

</section>

